<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    {* <link rel="icon" href="favicon.ico" type="image/x-icon"> *}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Desetiminutovka</title>

    {* link for my custom styles *}
	<link rel="stylesheet" href="css/style.css">
    {* link for cdnjs.com - FONTS AWESOME *}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {* favicon *}
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="body_background">

        <header>
            <div class="row">
                <div class="logo">
                    <img src="img/logo_desetiminutovka.png">
                </div>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="main_content_row">
                    {include content}
                </div>
            </div>
        </main>
        <footer>
            2021 Desetiminutovka.cz
        </footer>
    </div>

    <script src="../js/more_options.js"></script>
	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
